//Paddings
for padding, size in sizes
  .p-{padding}, .p-l-{padding}, .p-r-{padding}, .p-t-{padding}, .p-b-{padding}
    padding size

//margins
for margin, size in sizes
  .m-{margin}, .m-l-{margin}, .m-r-{margin}, .m-t-{margin}, .m-b-{margin}
    margin size
